Naloga6/WebSite2/App_WebReferences/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OsebaVPodjetju">
    <xs:sequence>
      <xs:element minOccurs="0" name="Oseba" nillable="true" type="tns:Oseba" />
      <xs:element minOccurs="0" name="OsebaId" type="xs:int" />
      <xs:element minOccurs="0" name="OsebaVPodjetjuId" type="xs:int" />
      <xs:element minOccurs="0" name="Podjetje" nillable="true" type="tns:Podjetje" />
      <xs:element minOccurs="0" name="PodjetjeId" type="xs:int" />
      <xs:element minOccurs="0" name="delovnoMesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="letoDo" type="xs:int" />
      <xs:element minOccurs="0" name="letoOd" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OsebaVPodjetju" nillable="true" type="tns:OsebaVPodjetju" />
  <xs:complexType name="Oseba">
    <xs:sequence>
      <xs:element minOccurs="0" name="OsebaId" type="xs:int" />
      <xs:element minOccurs="0" name="ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="letoRojstva" type="xs:int" />
      <xs:element minOccurs="0" name="priimek" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Oseba" nillable="true" type="tns:Oseba" />
  <xs:complexType name="Podjetje">
    <xs:sequence>
      <xs:element minOccurs="0" name="PodjetjeId" type="xs:int" />
      <xs:element minOccurs="0" name="letoUstanovitve" type="xs:int" />
      <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="panoga" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Podjetje" nillable="true" type="tns:Podjetje" />
  <xs:complexType name="ArrayOfOseba">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Oseba" nillable="true" type="tns:Oseba" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOseba" nillable="true" type="tns:ArrayOfOseba" />
  <xs:complexType name="ArrayOfPodjetje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Podjetje" nillable="true" type="tns:Podjetje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPodjetje" nillable="true" type="tns:ArrayOfPodjetje" />
</xs:schema>