Naloga2/TestApp/TestApp/Web References/localhost/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getOseba">
        <s:complexType />
      </s:element>
      <s:element name="getOsebaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOsebaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOsebeVPod">
        <s:complexType />
      </s:element>
      <s:element name="getOsebeVPodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOsebeVPodResult" type="tns:ArrayOfOseba" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOseba">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Oseba" nillable="true" type="tns:Oseba" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Oseba">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="priimek" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="letoRojstva" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="getOsebaIme">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vnesenoIme" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOsebaImeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOsebaImeResult" type="tns:Oseba" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="minOseba">
        <s:complexType />
      </s:element>
      <s:element name="minOsebaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="minOsebaResult" type="tns:Oseba" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaOseb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imePod" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaOsebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaOsebResult" type="tns:ArrayOfOsebaVPodjetju" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOsebaVPodjetju">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OsebaVPodjetju" nillable="true" type="tns:OsebaVPodjetju" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OsebaVPodjetju">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="oseba" type="tns:Oseba" />
          <s:element minOccurs="0" maxOccurs="1" name="podjetje" type="tns:Podjetje" />
          <s:element minOccurs="1" maxOccurs="1" name="letoOd" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="letoDo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="delovnoMesto" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Podjetje">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="naziv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="panoga" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="letoUstanovitve" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="listaPodjetja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imeOsebe" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaPodjetjaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaPodjetjaResult" type="tns:ArrayOfOsebaVPodjetju" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="povprecna">
        <s:complexType />
      </s:element>
      <s:element name="povprecnaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="povprecnaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOsebeAll">
        <s:complexType />
      </s:element>
      <s:element name="getOsebeAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getOsebeAllResult" type="tns:ArrayOfOseba" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPodjetjeAll">
        <s:complexType />
      </s:element>
      <s:element name="getPodjetjeAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPodjetjeAllResult" type="tns:ArrayOfPodjetje" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPodjetje">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Podjetje" nillable="true" type="tns:Podjetje" />
        </s:sequence>
      </s:complexType>
      <s:element name="isAdministrator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="geslo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isAdministratorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isAdministratorResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPodatki">
        <s:complexType />
      </s:element>
      <s:element name="SetPodatkiResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getOsebaSoapIn">
    <wsdl:part name="parameters" element="tns:getOseba" />
  </wsdl:message>
  <wsdl:message name="getOsebaSoapOut">
    <wsdl:part name="parameters" element="tns:getOsebaResponse" />
  </wsdl:message>
  <wsdl:message name="getOsebeVPodSoapIn">
    <wsdl:part name="parameters" element="tns:getOsebeVPod" />
  </wsdl:message>
  <wsdl:message name="getOsebeVPodSoapOut">
    <wsdl:part name="parameters" element="tns:getOsebeVPodResponse" />
  </wsdl:message>
  <wsdl:message name="getOsebaImeSoapIn">
    <wsdl:part name="parameters" element="tns:getOsebaIme" />
  </wsdl:message>
  <wsdl:message name="getOsebaImeSoapOut">
    <wsdl:part name="parameters" element="tns:getOsebaImeResponse" />
  </wsdl:message>
  <wsdl:message name="minOsebaSoapIn">
    <wsdl:part name="parameters" element="tns:minOseba" />
  </wsdl:message>
  <wsdl:message name="minOsebaSoapOut">
    <wsdl:part name="parameters" element="tns:minOsebaResponse" />
  </wsdl:message>
  <wsdl:message name="listaOsebSoapIn">
    <wsdl:part name="parameters" element="tns:listaOseb" />
  </wsdl:message>
  <wsdl:message name="listaOsebSoapOut">
    <wsdl:part name="parameters" element="tns:listaOsebResponse" />
  </wsdl:message>
  <wsdl:message name="listaPodjetjaSoapIn">
    <wsdl:part name="parameters" element="tns:listaPodjetja" />
  </wsdl:message>
  <wsdl:message name="listaPodjetjaSoapOut">
    <wsdl:part name="parameters" element="tns:listaPodjetjaResponse" />
  </wsdl:message>
  <wsdl:message name="povprecnaSoapIn">
    <wsdl:part name="parameters" element="tns:povprecna" />
  </wsdl:message>
  <wsdl:message name="povprecnaSoapOut">
    <wsdl:part name="parameters" element="tns:povprecnaResponse" />
  </wsdl:message>
  <wsdl:message name="getOsebeAllSoapIn">
    <wsdl:part name="parameters" element="tns:getOsebeAll" />
  </wsdl:message>
  <wsdl:message name="getOsebeAllSoapOut">
    <wsdl:part name="parameters" element="tns:getOsebeAllResponse" />
  </wsdl:message>
  <wsdl:message name="getPodjetjeAllSoapIn">
    <wsdl:part name="parameters" element="tns:getPodjetjeAll" />
  </wsdl:message>
  <wsdl:message name="getPodjetjeAllSoapOut">
    <wsdl:part name="parameters" element="tns:getPodjetjeAllResponse" />
  </wsdl:message>
  <wsdl:message name="isAdministratorSoapIn">
    <wsdl:part name="parameters" element="tns:isAdministrator" />
  </wsdl:message>
  <wsdl:message name="isAdministratorSoapOut">
    <wsdl:part name="parameters" element="tns:isAdministratorResponse" />
  </wsdl:message>
  <wsdl:message name="SetPodatkiSoapIn">
    <wsdl:part name="parameters" element="tns:SetPodatki" />
  </wsdl:message>
  <wsdl:message name="SetPodatkiSoapOut">
    <wsdl:part name="parameters" element="tns:SetPodatkiResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="getOseba">
      <wsdl:input message="tns:getOsebaSoapIn" />
      <wsdl:output message="tns:getOsebaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOsebeVPod">
      <wsdl:input message="tns:getOsebeVPodSoapIn" />
      <wsdl:output message="tns:getOsebeVPodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOsebaIme">
      <wsdl:input message="tns:getOsebaImeSoapIn" />
      <wsdl:output message="tns:getOsebaImeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="minOseba">
      <wsdl:input message="tns:minOsebaSoapIn" />
      <wsdl:output message="tns:minOsebaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaOseb">
      <wsdl:input message="tns:listaOsebSoapIn" />
      <wsdl:output message="tns:listaOsebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaPodjetja">
      <wsdl:input message="tns:listaPodjetjaSoapIn" />
      <wsdl:output message="tns:listaPodjetjaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="povprecna">
      <wsdl:input message="tns:povprecnaSoapIn" />
      <wsdl:output message="tns:povprecnaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOsebeAll">
      <wsdl:input message="tns:getOsebeAllSoapIn" />
      <wsdl:output message="tns:getOsebeAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPodjetjeAll">
      <wsdl:input message="tns:getPodjetjeAllSoapIn" />
      <wsdl:output message="tns:getPodjetjeAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="isAdministrator">
      <wsdl:input message="tns:isAdministratorSoapIn" />
      <wsdl:output message="tns:isAdministratorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPodatki">
      <wsdl:input message="tns:SetPodatkiSoapIn" />
      <wsdl:output message="tns:SetPodatkiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOseba">
      <soap:operation soapAction="http://tempuri.org/getOseba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOsebeVPod">
      <soap:operation soapAction="http://tempuri.org/getOsebeVPod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOsebaIme">
      <soap:operation soapAction="http://tempuri.org/getOsebaIme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="minOseba">
      <soap:operation soapAction="http://tempuri.org/minOseba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaOseb">
      <soap:operation soapAction="http://tempuri.org/listaOseb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaPodjetja">
      <soap:operation soapAction="http://tempuri.org/listaPodjetja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="povprecna">
      <soap:operation soapAction="http://tempuri.org/povprecna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOsebeAll">
      <soap:operation soapAction="http://tempuri.org/getOsebeAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPodjetjeAll">
      <soap:operation soapAction="http://tempuri.org/getPodjetjeAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdministrator">
      <soap:operation soapAction="http://tempuri.org/isAdministrator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPodatki">
      <soap:operation soapAction="http://tempuri.org/SetPodatki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOseba">
      <soap12:operation soapAction="http://tempuri.org/getOseba" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOsebeVPod">
      <soap12:operation soapAction="http://tempuri.org/getOsebeVPod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOsebaIme">
      <soap12:operation soapAction="http://tempuri.org/getOsebaIme" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="minOseba">
      <soap12:operation soapAction="http://tempuri.org/minOseba" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaOseb">
      <soap12:operation soapAction="http://tempuri.org/listaOseb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaPodjetja">
      <soap12:operation soapAction="http://tempuri.org/listaPodjetja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="povprecna">
      <soap12:operation soapAction="http://tempuri.org/povprecna" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOsebeAll">
      <soap12:operation soapAction="http://tempuri.org/getOsebeAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPodjetjeAll">
      <soap12:operation soapAction="http://tempuri.org/getPodjetjeAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdministrator">
      <soap12:operation soapAction="http://tempuri.org/isAdministrator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPodatki">
      <soap12:operation soapAction="http://tempuri.org/SetPodatki" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:58950/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:58950/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>